.errorMassage {
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}

.errorMassage h1{
    color: red;
}

.errorMassage p{
    color: green;
}

.errorMassage a{
    color: blue;
}

.errorMassage a:hover{
    color: red;
}