html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 800px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px auto;
  border: 1px solid gray;
  padding: 5px;
}

@media only screen and (max-width: 800px) {
  #__next {
    width: 600px;
  }
}


@media only screen and (max-width: 600px) {
  #__next {
    width: 500px;
  }
}

@media only screen and (max-width: 400px) {
  #__next {
    width: 300px;
  }
}